.main {
  display: flex;
  height: 60px;
  width: 96%;
  align-items: center;
  justify-content: space-between;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.main > div {
  display: flex;
  height: 50px;
  width: 210px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.warranty {
  height: 45px;
}

.year {
  font-weight: bold;
}

.shopByCategory {
  height: 380px;
}

.shop {
  padding-top: 25px;
  font-size: 20px;
  color: 000000;
  font-weight: bold;
  padding-right: 1250px;
}

.wireless {
  border-radius: 5px;
  background-color: #efefef;
  display: flex;
  height: 80px;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  color: #222222;
  padding: 10px;
  padding-bottom: 20px;
  gap: 30px;
}

.wire {
  height: 80px;
  padding-bottom: 20px;
}

.sub_div {
 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 60px;
  align-items: center;
  margin-top: 10px;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 500px) and (max-width: 1100px) {
  .main {
    display: none;
  }
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  .main {
    display: none;
  }
}
